.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
}
.read {
  color: rgb(42, 136, 183);
}
.container {
  display: flex;
  justify-content: center;
  max-width: 800px;
  margin-inline: 0 center;
  box-shadow: 0 0 10px #fafafa;
  padding: 2rem;
}
.left-side {
  flex: 1;
}
.right-side {
  width: 220px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.right-side img {
  max-width: 100%;
}
